table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 20px solid black;
  width: 50%;
  border-radius: 10px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 2px #666; /* this draws the table border  */ 

}

input{
  padding : 10px
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: beige;
  gap: 10px;
  padding-bottom: 80px;
  padding-top: 49px;
  border-radius: 30px;
  margin: calc(15% - 2em);
  padding-left: 10px;
  padding-right: 10px;
}

.btn {
  display: flex;
  flex-direction: row;
  margin: 20px;
  gap: 40px;
}

@media only screen and (max-width: 480px)  {
  .btn{
    flex-direction: column;
  }
}

.data {
  display: flex;
  gap: 10px;
}

.data > input {
  width: 90%;
  border-radius: 6px;
}

.data > button {
  border-radius: 6px;
  width: 50%;
  padding: 10px;
}

.data > button:hover {
  background-color: bisque;
}

.btn > button {
  border-radius: 5px;
  width: 100px;
  padding: 10px;
}

.btn > button:hover {
  background-color: bisque;
  color: #855252;
}

td,
th {
  border: 1px solid black;
  /* text-align: left; */
  padding: 8px;
}
